body {
    margin: 0;
}

span {
    padding:3px;
    margin-left: 10px;

}

.city {
    margin-left: 13px;
}

.flex-row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.fixed {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 0.5;
    top: 0;
  left: 155;
  position: fixed;
}
.preloader {
    display:block;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: antiquewhite;
}

.loader {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    top: 254px;
    left: 600px;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(251,190,40);;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.white {
    background-color: white;
    transition: 2s;
}

.black {
    background-color:rgb(38,39,43);
    transition: 2s;
}
.textWhite {
    color: white;
    transition: 2s;
}

.textBlack {
    color: rgb(38,39,43);
    transition: 2s;
}

.textRed {
    color: rgb(251,190,40);
    font-weight: 300;
}

.inputGray {
    background-color: gray;
    color: white;
    transition: 2s;
}


.eror {
    position: absolute;
    
}

.on {
    background-color: white;
    margin: 2px;
    color: rgb(38,39,43);
}
.off {
    background-color: rgb(38,39,43);
    margin: 2px;
    color: white;
}
